/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

div {
    display: grid;
    grid-template-rows: auto 1fr auto;
}



/* TODO MENU */
nav {
    display: flex;
    /* padding: 1rem 2rem; */
}

nav ul {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

ul li{
    padding: 0px 4.3px;
}

.logo a{
    color: #D90DA2;
    padding-right: 59rem;
}
.logo a:hover{
    color: #06ADBF;
    text-decoration: none;
}

a:hover {
    color: #BF303C;
    text-decoration: underline;
}

li button{
    background-color: #06ADBF;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

li button a{
    color: white;
}

/*TODO SEPARADOR DIV */

.separadordvi {
    min-height: 15rem;
}


/*TODO == PIE DE PAGINA ==*/
footer {
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
    padding: 1px 90px;
    display: flex;
    flex-direction: column;
    
    /* max-width: auto; */
}
.s-footer {
    display: flex;
}

.a-footer {
    margin-left: 50rem;
}

.a-footer:hover {
    color: aqua;
}

.separador {
    display: none;
}

/* El salto de línea que se muestra en móviles */
.salto-linea {
    display: block;
}

/* Media query para pantallas medianas y grandes */
@media (min-width: 768px) {
    .separador {
        display: inline;
    }

    .salto-linea {
        display: none;
    }

}